<ion-header>

</ion-header>

<ion-content class="ion-padding">

    <ion-grid>
        <ion-row>
            <ion-col offset="3">
                <h1>Tarefas</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col offset="3" size="4">
                <ion-input [(ngModel)]="novaTarefa" placeholder="Digite a tarefa" />
            </ion-col>
            <ion-col size="1">
                <ion-button (click)="adicionaTarefa()" [disabled]="!this.novaTarefa">Adicionar</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col offset="3" size="6">
                <ion-list>
                    <ion-item *ngFor="let tarefa of tarefas; 
                        let i = index; let f = first; let l = last;
                        let e = even; let o = odd;" [ngClass]="{
                            'concluida': tarefa.concluida === true,
                            'para-fazer': tarefa.concluida === false,
                            'par': e,
                            'impar': o
                        }" (dblclick)="inverteStatus(tarefa)">
                        <ion-text class="tarefa-descricao">
                            {{ tarefa.descricao }}
                        </ion-text>
                        <ion-button fill="clear" (click)="removeTarefa(i)">
                            <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
                        </ion-button>
                    </ion-item>
                    <ion-item *ngIf="tarefas.length === 0">
                        Nenhuma tarefa encontrada
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>